.ImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img {
  width: 70%;
  transition: transform 0.1s ease;
  transform-origin: center;
  will-change: transform;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.4));
}
