.container {
  display: flex;
  justify-content: space-between;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: var(--padding-lg);
    padding-left: 0;
  }
}
